<!DOCTYPE html>
<html lang="en">

<head>
    <title>Parcial web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <div class="formulario">

        <div class="navBar">
            <ul>
                <li><a (click)="home()" href="#home">Home</a></li>
                <li><a (click)="services()" href="#news">Services</a></li>
                <li><a (click)="about()" href="#about">About</a></li>
                <li><a (click)="contact()" href="#contact">Contact</a></li>
                <li><a (click)="FAQ()" href="#faq">FAQ</a></li>

                <form class="example" action="action_page.php">
                    <input type="text" placeholder="Search" name="search">
                    <button type="button" class="primary-button search">🔍</button>
                    <button type="input" class="primary-button sign">SIGN UP</button>
                </form>

            </ul>
        </div>
        <div class="redesSociales">
            <table class="table">
                <br>
                <tr>
                    <a href="http://www.twitter.com"><span class="info-icontwitter"></span></a>
                </tr>
                <tr>
                    <a href="http://www.facebook.com"><span class="info-iconfacebook"></span></a>
                </tr>
                <tr>
                    <a href="http://www.youtube.com"><span class="info-iconyoutube"></span></a>
                </tr>
                <tr>
                    <a href="http://www.instagram.com"><span class="info-iconinstagram"></span></a>
                </tr>
            </table>
        </div>
        <div>
            <div class="info-text" *ngIf="isHome">
                <h2>TRAVEL</h2>
                <h1>The World</h1>
                <h3>Landing Page</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut
                    aliquip ex ea </p>
                <button type="input" class="secondary-button">LEARN MORE</button>
            </div>
            <div class="info-text" *ngIf="isServices">
                <h2>Our services</h2>
                <h1>Travel with us</h1>
                <h3>The best company</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut
                    aliquip ex ea </p>
                <button type="input" class="secondary-button">Come here</button>
            </div>
            <div class="info-text" *ngIf="isAbout">
                <h2>About us?</h2>
                <h1>Information</h1>
                <h3>UMB</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut
                    aliquip ex ea </p>
                <button type="input" class="secondary-button">Hello everybody</button>
            </div>
            <div class="info-text" *ngIf="isContact">
                <h2>Fabián Rodríguez</h2>
                <h1>Front Developer</h1>
                <h3>One year of experience</h3>
                <button id="fabian"></button>
            </div>
            <div class="info-text" *ngIf="isFAQ">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut
                    aliquip ex ea </p>
                <button type="button" class="secondary-button">isFAQ</button>
            </div>
            <div class="paginadores" *ngIf="!isFAQ">
                <button class="paginador" type="button">◄</button>
                <button class="paginador" type="button">►</button>
            </div>
    
        </div>
    </div>
</body>

</html>